RewriteEngine On
RewriteBase /sem/

php_value upload_max_filesize 10M
php_value post_max_size 10M

<IfModule mod_speling.c>
  CheckCaseOnly On
  CheckSpelling On
</IfModule>

RewriteRule ^(app|dict|ns|tmp)\/|\.ini$ - [R=404]

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]